/* Import Google font -Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: #6f36ff;
}
.wrapper{
    top: 50%;
    left: 50%;
    background:#fff;
    width: 200px;
    height: 350px;
    position: absolute;
    border-radius: 10px;
    transform: translate(-50%,-50%) scale(1.4);

}   
.wrapper header{
    color: #6f36ff;
    font-size: 16px;
    font-weight: 500;
    padding: 2px 25px;
    border-bottom: 1px solid #bfbfbf;
}
.wrapper header.active{
    cursor:move;
    user-select: none;
}

.wrapper .content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 30px 40px;
}
.content .icon{
   
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #6f36ff;
}
.content .icon i{
    color: #6f36ff;
    font-size: 5px;
}
.content{
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0;

}
.content p{
    margin-top: 10px;
    font-size: .7rem;
    text-align: center;
   

}